/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body{
  background-image: url('../public/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #bcc4ca;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.button{
background-color: azure;
padding: 10px;
color: #284479;
border-radius: 10px;
margin: 10px 0;
font-weight: bold;
cursor: pointer;
}

.button:hover{
  background-color: #aaadb37d;
}

.flex-column{
  display: flex;
  flex-flow: column;
}

.flex{
  display: flex;
}

.intro{
width: 50%;
text-align: justify;
}

.intro > span{
  margin: 10px 0;
}

.buttons > div{
  margin: 0 10px;
}

input, textarea{
font-size: 130%;
font-family: inherit;
background-color: transparent;
border: transparent;
color: white;
border-bottom: 2px solid white;
width: 100%;
}

textarea:focus, input:focus{
  outline: none;
  line-height: 22px;
}

textarea{
  resize: none;
}

.radios, .checkbox{
background-color: #f0ffff2b;
border: 1px solid azure;
color: azure;
width: 300px;
margin: 5px 0;
font-weight: bold;
cursor: pointer;
padding:10px;
border-radius: 5px;
text-align: left;
}

.checkbox{
  align-items: center;
}

.uncheck, .check{
  margin-right: 10px;
  height:20px;
  width: 20px;
  background-color: #f0ffff2b;
  border: 1px solid azure;
}

.check{
  background-color: azure;
}

.radios:hover, .checkbox:hover{
  background-color:#f0ffff61;
}

.justify{
  justify-content: center;
  align-items: center;
}

.nav{
  margin-top: 90px;
}

.interaction{
  max-width: 70%;
}

.secondary_answer{
  margin-top:10px;
}

.end{
  padding-left: 30px; 
  padding-right: 30px;
}

.star{
  font-style: italic;
  width: 50%;
  margin-top: 30px;
}

.formlink{
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 2%;
  padding: 10px;
  border: 1px solid azure;
  border-radius: 10px;
}

a {
  color: white;
padding: 5px;
text-decoration: none;
}

.maxwords{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* media queries for mobile*/
@media only screen and (max-width: 600px) {
  
  body{
    min-height: 600px;
  }

  .intro{
    width: 90%;
text-align: justify;
font-size: 80%;
  }

  .formlink{
    position: absolute;
    font-size: 10px;
  }

  .main{
    font-size: 14px;
  }

  .radios, .checkbox{
    width: 90%;
  }

  .star{
    width: 90%;
  }


}